@charset "UTF-8";

/*Estilo para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none; /*não vai ser disponibilizado o menu na impressão */
}

article {
    width: 100vw;
    text-align: justify;
}

article::after{
    content: 'Esse artigo foi impresso através do site de Jairo Magno';
}