@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(pacote/fontes/idroid.otf) format('opentype');
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
}

#destaque{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    padding-top: 2%;
}

p#fraseDestaque{
    color: white;
    text-align: center;
    padding-top: 1%;
}

h1{
    color: #1F5F3C;
    font-family: 'Android', Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, #60AD83, #1A5C38);
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
}

nav{
    text-align: left;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
}

nav > a{
    text-decoration: none;
    color: #7ec79f;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #358358;
    text-decoration: none;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 0.5% 2% 0.5% 2%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
}

main p{
    text-indent: 30px;
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}

span{
    color: #5D8C71;
    font-weight: bold;
}

span > a{
    color: #5D8C71;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a.externo::after{
    content: '\00A0\1F517'; /*Emoji de cadeado para link*/
}

picture{
    display: flex;
    justify-content: center;
    width: 100%;
}

img{
    width: 100%;
}

img.pequena{
    max-width: 350px;
}

.topicos{
    font-family: 'Android', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #B6F279, #ffffff);
    color: #1F5F3C;
    padding-left: 10px;
}


#youtube{
    background-color: #1A5C38;
    margin: 0px -30px 20px -30px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

#youtube > iframe{
    position: absolute;
    top: 0.5%;
    left: 2.5%;
    width: 90%;
    height: 90%;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

aside{
    border-radius: 10px;
    padding: 10px;
    background-color: #C5EBD6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
}

aside > h3{
    background-color: #2FA866;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

div{
    display: inline-block;
    padding-right: 20%;
}

footer{
    background-color: #1F5F3C;
    color: white;
    padding: 10px;
    margin-top: 2%;
}

p#foot{
    text-align: center;
}

a#EU{
    text-decoration: none;
    color: white;
}

a#EU:hover{
    text-decoration: underline;
}