@charset "UTF-8";

/* Menu Responsível em celular */

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header > h1{
    text-align: center;
    padding: 5px;
}

span#burguer {
    background-color: rgb(63, 63, 63);
    color: white;
    display: block;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

header {
    background-color: rgba(103, 102, 102, 0.627);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(97, 96, 96);
    color: white;
    border-top: 2px solid grey;
}

menu a:hover{
    text-decoration: underline;
    background-color: grey;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
} 

